/* General Styles */
body {
    font-family: Roboto, serif;
    margin: 0;
    padding: 0;
    width:100%;
}


* {
    margin: 0;
  padding: 0;
    box-sizing: border-box;
}

.container {
    margin:10px;
}

header {
    background-image: url("background.webp");
    width:100%;
    height:300px;
    background-position: center;
    background-size: cover;
    padding:10%;
}

header h1 {
    font-size:60px;
    margin-bottom:0;
    line-height:60px;
    font-style: italic;
}

header h1, header h2 {
    background-color: rgba(0, 0, 0, 0.2); 
    display: block; 
    padding: 5px 10px; 
    margin: 5px 0; 
    color:white;
    text-align:left;
}

    
h2 {
    text-align: center;
    margin: 40px auto 20px auto;
    font-size:36px;
    color:#202124;
    font-weight: 300;
}


.filters {
    display: flex;
    justify-content: right;
    width: 100%;
    gap:10px;
    margin-bottom:10px;
}

/* Contenedor de botones segmentados */
.segmented-control {
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
  }
  
  /* Ocultar los checkboxes */
  .segmented-control input[type="checkbox"] {
    display: none;
  }
  
  /* Estilo base de los botones */
  .segmented-control label {
    padding: 6px 12px;
    cursor: pointer;
    background-color: #fff;
    color: rgb(118, 118, 118);
    border-right: 1px solid #ccc;
    font-family: Arial, sans-serif;
    font-size: 14px;
    user-select: none;
  }
  
  /* Eliminar borde derecho del 煤ltimo bot贸n */
  .segmented-control label:last-child {
    border-right: none;
  }
  
  /* Estilo cuando el checkbox est谩 seleccionado */
  .segmented-control input[type="checkbox"]:checked + label {
    background-color: #e0e7ff;
    color: #333;
  }
  
  /* Transici贸n suave al cambiar de estado */
  .segmented-control label {
    transition: background-color 0.3s, color 0.3s;
  }

  /* Dropdown estilizado */
.dropdown select {
    width: 100%;
    padding: 6px 12px;
    border-radius: 25px;
    border: 1.5px solid #ccc;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: rgb(118, 118, 118);
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
  }
  
  /* Al pasar el mouse */
  .dropdown select:hover {
    border-color: #888;
  }
  
  /* Al hacer clic */
  .dropdown select:focus {
    border-color: #5b9bd5;
    box-shadow: 0 0 5px rgba(91, 155, 213, 0.5);
  }
  
  

.action-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    padding:0 10%;
    gap:10px;
    margin-bottom:20px;
}
  
.searchbar {
    display: flex;
    z-index: 3;
    position: relative;
    min-height: 44px;
    border: 1px solid transparent;
    background: #fff;
    box-shadow: 0px 2px 8px 0px rgba(60, 64, 67, 0.25);
    border-radius: 24px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    padding:10px 20px;
    justify-content: space-between;
}

.searchbar input {
    width:90%;
    border:0;
    outline: none;
    background-color: transparent;
}

.searchbar button, .actions button {
    border: 0;
    background-color: transparent;
    color: #5f6368;
    cursor:pointer;
}

.actions button {
    background-color: #1a73e8;
    color: white;
    padding: 10px 14px;
    border-radius: 25px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    vertical-align: middle;
    margin: auto;
}

.actions button span {
    vertical-align: middle;
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset !important; /* Cambia 'white' al color de tu elecci贸n */
    -webkit-text-fill-color: #000; /* Cambia el color del texto */
  }
  
  input:-webkit-autofill:focus {
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #000;
  }

/* Contenedor general */
.scroll-container {
    width: 100%;
    overflow-x: auto;
    position: relative;
  }
  
  /* Barra de desplazamiento superior */
  .scroll-top {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    height: 20px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    display: none; /*  Por defecto oculto */
  }
  
  
  /* Sincronizaci贸n del ancho con la tabla */
  #scroll-top-sync {
    height: 1px;
  }
  
  /* Estilo de la tabla */
  .results {
    width: 100%;
    overflow-x: auto;
  }
  
  /* Opcional: Mejorar la apariencia del scroll */
  .scroll-top::-webkit-scrollbar,
  .results::-webkit-scrollbar {
    height: 8px;
  }
  
  .scroll-top::-webkit-scrollbar-thumb,
  .results::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }
  
  .results table {
    background-color: rgba(239, 239, 242, 0.3);
    padding: 0 20px 20px 20px;
    width:100%;
  }

  td, th {
    padding: 8px;
    font-size: 14px;
    text-transform: capitalize;
  }

  th input {
    padding: 3px 6px;
    border-radius: 25px;
    border: 1.5px solid #ccc;
    background-color: #fff;
    font-size: 12px;
    color: rgb(118, 118, 118);
  }
  
  tr:nth-child(even){background-color: #f2f2f2;}
  tr:hover {background-color: #ddd;}
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: cadetblue;
    color: white;
    font-weight: 300;
    font-size: 12px;
  }

  th:nth-child(2) input{
    display:none;
  }

  td:nth-child(2){
    text-align:center;
  }

  .button-link {
    background-color: orange;
    color: white;
    display: inline-block;
    padding: 8px;
    border-radius: 6px;
    font-weight: bold;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.icon-link {
    color:#202124;
}

.timestamp, .timestamp .material-symbols-outlined {
    font-size:12px;
}
.timestamp .material-symbols-outlined {
    color:grey;
}

.timestamp , .timestamp p {
    display:flex;
}

.center {
    text-align:center;
}

small {
    font-size:10px;
}

footer {
    padding: 10px;
    background-color: gainsboro;
    color:slategray;
    font-size: 12px;
    text-align: right;
    display:flex;
    justify-content: space-between;
}

footer ul li a {
    text-decoration:none;
    color:#333;
}


footer .material-symbols-outlined {
    font-size: 12px;
    vertical-align: middle;
    color:slategray;
}

.sections {
    margin-top:40px;
    display:flex;
    margin-bottom:40px;
    padding:40px 0;
}

.sections section {
    text-align: center;
    padding:40px 22px;
    flex: 1;    
}


.sections section:nth-child(odd) {
    background-color: rgb(237, 185, 128, 0.8);
}

.sections section:nth-child(even) {
    background-color: rgb(237, 185, 128);
}


.sections section h3 {
    font-size: 1.1em;
    font-weight:400;
    margin-bottom:20px;
}


.sections section  img{
    width:150px;
    border-radius: 20px;
    margin-bottom:24px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
}


.sections section p {
    font-size: 12px;
    font-weight: 300;
}


@media (max-width:1025px) {
    .sections {
         display:block;
    }
}