/* General Styles */
body {
    font-family: Roboto, serif;
    margin: 0;
    padding: 0;
    width:100%;
}


* {
    margin: 0;
  padding: 0;
    box-sizing: border-box;
}

.container {
    margin:10px;
}

header {
    background-image: url("background.webp");
    width:100%;
    height:300px;
    background-position: center;
    background-size: cover;
    padding:10%;
}

header h1 {
    font-size:60px;
    margin-bottom:0;
    line-height:60px;
    font-style: italic;
}

header h1, header h2 {
    background-color: rgba(0, 0, 0, 0.2); 
    display: block; 
    padding: 5px 10px; 
    margin: 5px 0; 
    color:white;
    text-align:left;
}

    
h2 {
    text-align: center;
    margin: 40px auto 10px auto;
    font-size:36px;
    color:#202124;
    font-weight: 300;
}


.filters {
    display: flex;
    justify-content: center;
    width: 100%;
    gap:10px;
    margin-bottom:10px;
}

/* Contenedor de botones segmentados */
#materiaFilter.segmented-control > .segmented-control {
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
  }
  
  /* Ocultar los checkboxes */
  .segmented-control input[type="checkbox"] {
    display: none;
  }
  
  /* Estilo base de los botones */
  .segmented-control label {
    padding: 4px 8px;
    cursor: pointer;
    background-color: #fff;
    color: rgb(118, 118, 118);
    border-right: 1px solid #ccc;
    font-family: Arial, sans-serif;
    font-size: 12px;
    user-select: none;
  }
  
  /* Eliminar borde derecho del 煤ltimo bot贸n */
  .segmented-control label:last-child {
    border-right: none;
  }
  
  /* Estilo cuando el checkbox est谩 seleccionado */
  .segmented-control input[type="checkbox"]:checked + label {
    background-color: #e0e7ff;
    color: #333;
  }
  
  /* Transici贸n suave al cambiar de estado */
  .segmented-control label {
    transition: background-color 0.3s, color 0.3s;
  }

  /* Dropdown estilizado */
.dropdown select {
    width: 100%;
    padding: 4px 8px;
    border-radius: 25px;
    border: 1.5px solid #ccc;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: rgb(118, 118, 118);
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
  }
  
  /* Al pasar el mouse */
  .dropdown select:hover {
    border-color: #888;
  }
  
  /* Al hacer clic */
  .dropdown select:focus {
    border-color: #5b9bd5;
    box-shadow: 0 0 5px rgba(91, 155, 213, 0.5);
  }
  
  

.action-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    padding:0 10%;
    gap:10px;
    margin-bottom:20px;
}

.search {
    flex: 1;
}
  
.searchbar {
    display: flex;
    position: relative;
    min-height: 44px;
    border: 1px solid transparent;
    background: #fff;
    box-shadow: 0px 2px 8px 0px rgba(60, 64, 67, 0.25);
    border-radius: 24px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    padding:10px 20px;
    justify-content: space-between;
}

.searchbar input {
    width:90%;
    border:0;
    outline: none;
    background-color: transparent;
}

.searchbar button, .actions button, .search button {
    border: 0;
    background-color: transparent;
    color: #5f6368;
    cursor:pointer;
}

#clearButton {
    display:none;
    opacity: 0.5;
}
#clearButton span {
  vertical-align: middle;
}

#shareButton {
    display:none;
    background-color: darkcyan;
    color: white;
    padding: 10px 14px;
    border-radius: 25px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    vertical-align: middle;
    margin: none;
    align-items: center;
    border:none;
    cursor:pointer;
}

.actions button {
    background-color: #1a73e8;
    color: white;
    padding: 10px 14px;
    border-radius: 25px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    vertical-align: middle;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 4px;
}

.actions.search {
  display:flex;
  justify-content: center; 
  align-items: center; 
  margin-bottom:20px;
}

.actions.search button {
  background-color: limegreen;
  font-size: 24px;
}

.actions.search .search-group {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 8px;
}

.actions.search a {
  background-color: slategrey;
  font-size: 24px;
  margin-bottom:20px;
  padding: 10px 14px;
  border-radius: 25px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
  vertical-align: middle;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color:white;
}


.actions button span {
    vertical-align: middle;
}
.actions button p {
    font-weight: bold;
}


input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset !important; /* Cambia 'white' al color de tu elecci贸n */
    -webkit-text-fill-color: #000; /* Cambia el color del texto */
  }
  
  input:-webkit-autofill:focus {
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #000;
  }

/* Contenedor general */
.scroll-container {
    width: 100%;
    overflow-x: auto;
    position: relative;
  }
  
  /* Barra de desplazamiento superior */
  .scroll-top {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    height: 20px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    display: none; /*  Por defecto oculto */
  }
  
  
  /* Sincronizaci贸n del ancho con la tabla */
  #scroll-top-sync {
    height: 1px;
  }
  
  /* Estilo de la tabla */
  .results {
    width: 100%;
    overflow-x: auto;
  }
  
  /* Opcional: Mejorar la apariencia del scroll */
  .scroll-top::-webkit-scrollbar,
  .results::-webkit-scrollbar {
    height: 8px;
  }
  
  .scroll-top::-webkit-scrollbar-thumb,
  .results::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }
  
  .results table {
    background-color: rgba(239, 239, 242, 0.3);
    padding: 0 20px 20px 20px;
    width:100%;
  }

  td, th {
    padding: 8px;
    font-size: 12px;
    text-transform: capitalize;
  }

  th input {
    padding: 3px 6px;
    border-radius: 25px;
    border: 1.5px solid #ccc;
    background-color: #fff;
    font-size: 12px;
    color: rgb(118, 118, 118);
    width: 100%;
    opacity: 0.8;
  }
  
  tr:nth-child(even){background-color: #f2f2f2;}
  tr:hover {background-color: #ddd;}
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: cadetblue;
    color: white;
    font-weight: 300;
    font-size: 12px;
  }

  th:nth-child(2) input,
  th:nth-child(1) input{
    display:none;
  }

  td:nth-child(2){
    text-align:center;
  }

  
  td:nth-child(3){
    font-weight:500;
    font-size:14px;
  }

  .button-link {
    background-color: coral;
    color: white;
    display: inline-block;
    padding: 8px;
    border-radius: 6px;
    font-weight: bold;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

td.responsable {
    display: flex;
    gap: 4px;
}

td.responsable button {
    border-radius: 25px;
    border: 1px solid black;
    padding: 2px 4px;
    cursor:pointer;
    display:block;
}

td.responsable button:hover {
    background-color: #ccc;
}

.reportButton {
    border-radius: 50%;
    padding: 0;
    border: 0;
    background-color: orangered;
    color: white;
    cursor:pointer;
    opacity: 0.6;
}

.reportButton:hover {
    opacity: 1;
}

.reportButton span {
    vertical-align: middle;
}

.icon-link {
    color:#202124;
}

.timestamp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center {
    text-align:center;
}

small {
    font-size:10px;
}

#resultsDescriptionContainer {
  background-color:#f2f2f2;
  padding: 10px 0;
}

footer {
    padding: 10px;
    background-color: gainsboro;
    color:slategray;
    font-size: 12px;
    text-align: right;
    display:flex;
    justify-content: space-between;
}

footer ul li {
    display:inline-block;
    border-right: 1px solid #333;
    padding-right: 4px;
    margin-right: 4px;
}

footer ul li:last-child {
    border-right: none;
    padding-right: 0;
    margin-right: 4px;
}

footer ul li a {
    text-decoration:none;
    color:#333;
}


footer .material-symbols-outlined {
    font-size: 12px;
    vertical-align: middle;
    color:slategray;
}

.sections {
    margin-top:40px;
    display:flex;
    padding:40px 0;
}

section img {
    cursor:pointer;
}

.sections section {
    text-align: center;
    padding:40px 22px;
    flex: 1;    
}


.sections section:nth-child(odd) {
    background-color: rgb(237, 185, 128, 0.8);
}

.sections section:nth-child(even) {
    background-color: rgb(237, 185, 128);
}


.sections section h3 {
    font-size: 1.1em;
    font-weight:400;
    margin-bottom:20px;
}


.sections section  img{
    width:150px;
    border-radius: 20px;
    margin-bottom:24px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
}


.sections section p {
    font-size: 12px;
    font-weight: 300;
}

.disclaimer {
    text-align: center;
    display: block;
}

    /* Estilos para el modal */
    .modal {
        display: none; /* Oculto por defecto */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
      }
  
      .modal.active {
        display: flex; /* Mostrar cuando est茅 activo */
      }
  
      .modal-content {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        max-width: 500px;
        width: 100%;
      }
  
      .close-button {
        float: right;
        font-size: 20px;
        cursor: pointer;
        color: #aaa;
      }
  
      .close-button:hover {
        color: #000;
      }
  
      .form-field {
        margin-bottom: 15px;
      }
  
      .form-field label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }
  
      .form-field input,
      .form-field textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
      }
  
      .button {
        display: inline-block;
        padding: 10px 15px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
      }
  
      .button:hover {
        background-color: #0056b3;
      }
h4 {
  font-weight: 400;
  text-align: center;
  margin-bottom:20px;
}

.call-to-action {
  background-color: powderblue;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: -10px;
}

#searchDescription {
  text-align: center;
  display: block;
  padding-bottom: 10px;
}

.block-container {
  display:flex;
  margin-bottom:40px;
}

.half-block {
  width:50%;
}

.half-block img {
  width:100%;
}

#suggestionModal {
  text-align:  center;
  margin-bottom:20px;  
  padding:14px;
}

#suggestionModal p {
  margin-bottom:10px;
}

.bg-darkseagreen {
  background-color: darkseagreen;
}

.bg-suggestions {
  background-image:url(suggestions.webp);
  background-size: cover;
  background-position: center;
}

#suggestionModal input,
#suggestionModal textarea {
  background-color: rgba(255, 255, 255, 0.6)
}

@media (max-width:1025px) {
  .half-block {
    width:100%;
  }  
  
  .sections {
         display:block;
    }
    .search {
        width:80%;
    }

    
    .filters {
        display:block;
        width: 100%;
        position:relative;
    }

    #materiaFilter {
        width: 100%;

    }
    
    .segmented-control .segmented-control {
        display:block !important;
        width:100%;
    }

    .segmented-control .segmented-control label {
        display:block;
    }
    

    .actions button p {
        display:none;
    }

    .actions.search button p {
      display:block;
  }

  .actions.search {
    width:100%;
  }



    .action-wrapper {
        gap: 4px;
    }

    #shareButton, .actions button  {
        font-size:14px;
        padding: 6px 8px;
    }

}